body{
    background-color: #f7d7de;
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei UI;
    color:#000000;
}
header{
    background-color:#ffffff;
    text-align: center;
    min-width: 1200px;
    font-size: 0px;
    margin: 0, auto;
    height: 215px;
}
nav.nav{
    text-align: center;
    justify-content: center;
    border: 0px;
    margin: 0px;
    flex-wrap: nowrap;
}
@media all and (min-width: 760px) and (max-width: 959px) {
    .nav {
      display: none;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 759px) {
    .nav {
      display: none;
    }
  }
  
  @media all and (max-width: 479px) {
    .nav {
      display: none;
    }
  }
@media all and (min-width: 760px) and (max-width: 959px) {
    .logo {
      display: none;
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 759px) {
    .logo {
      display: none;
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }
  
  @media all and (max-width: 479px) {
    .logo {
      display: none;
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }
  @media all and (min-width: 960px) {
    .logo2 {
      display: none;
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }
  
  @media all and (min-width: 959px) and (max-width: 760px) {
    .logo2 {
      display: none;
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }
  
  @media all and (min-width: 760px) and (max-width: 959px) {
    .logo2 {
      padding: 10px;
      width: 240px;
      height: 138px;
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 759px) {
    .logo2 {
      padding: 10px;
      width: 240px;
      height: 138px;
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  
  @media all and (max-width: 479px) {
    .logo2 {
      padding: 10px;
      width: 240px;
      height: 138px;
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  #dm {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  #dropbtn {
    color: #494646;
    padding: 16px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
  }
  #dropbtn a {
    font-size: 16px;
    color: #f4377a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #dropbtn a:hover {
    font-size: 16px;
    background-color: #f09797;
    color: #494646;
  }
  #dropbtn a:after {
    font-size: 16px;
    background-color: #f09797;
    color: #494646;
  }
#go_top {
    width: 50px;
    height: 50px;
    background: none;
    position: fixed;
    right: 30px;
    bottom: 20px;
    border: 0px;
    outline: none;
    cursor: pointer;
  }
  #banner_container{
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
          div.container{
              position: relative;
          }
          #text{
              margin: 0, auto;
              position: absolute;
              background-color: #FFFFFF;
              opacity: .3;
              top: 25%;
              left: 20%;
              width: 300px;
              height: 300px;
              padding: 22px;
              z-index: 2;
          }
          #banner{
              margin: 0, auto;
              text-align: center;
              left: 50%;
              z-index: 1;
              padding-left: 200px;
              padding-top: 70px;
          }
          #banner:hover{
            animation-play-state:running;
            animation-name:banner_a;
            animation-duration:1s;
            animation-timing-function:step-start;
            animation-iteration-count: 1;
          }
          @keyframes banner_a{
            0%{
              transform: translate(10px,10px);
            }
            100%{
              transform: translate(15px,15px);
            }
        }
  }
  @media all and (min-width: 959px) and (max-width: 760px) {
    #text{
      display: none;
      visibility: hidden;
    }
    #banner {
      display: none;
      visibility: hidden;
    }
  }
  @media all and (min-width: 760px) and (max-width: 959px) {
    #text{
      display: none;
      visibility: hidden;
    }
    #banner {
      display: none;
      visibility: hidden;
    }
  }
  @media all and (min-width: 480px) and (max-width: 759px) {
    #text{
      display: none;
      visibility: hidden;
    }
    #banner {
      display: none;
      visibility: hidden;
    }
  }
  
  @media all and (max-width: 479px) {
    #text{
      display: none;
      visibility: hidden;
    }
    #banner {
      display: none;
      visibility: hidden;
    }
  }
#video_container{
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    #video_text{
        margin: 0 auto;
        width: 400px;
        height: 628px;
        background-image: url("../images/video_text.png");
        background-repeat: no-repeat;
    }
    p{
        margin: 0 auto;
        color: #494646;
        letter-spacing: 3px;
        transform: translate(150px,150px);
    }
    #video{
        margin: 0 auto;
        overflow: hidden;
    }
}
@media all and (min-width: 760px) and (max-width: 959px) {
  #video{
    display: none;
    visibility: hidden;
  }
}
@media all and (min-width: 480px) and (max-width: 759px) {
  #video{
    display: none;
    visibility: hidden;
  }
}

@media all and (max-width: 479px) {
  #video{
    display: none;
    visibility: hidden;
  }
}
#part1{
    margin: 0 auto;
    div.container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    #text1{
        padding-top: 200px;
        padding-left: 50px;
    }
    p{
        font-size: 1.5rem;
        color: #494646;
        line-height: 2rem;
        padding-left: 30px;
        letter-spacing: 1px;
    }
}
#part2{
    margin: 0 auto;
    margin-top: 150px;
    div.container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    #text2{
        padding-top: 50px;
        padding-left: 100px;
    }
    p{
        font-size: 1.5rem;
        color: #494646;
        line-height: 2rem;
        padding-left: 30px;
        letter-spacing: 1px;
    }
}
#image1:hover{
  animation-name:image_a;
  animation-duration:2s;
}
@keyframes image_a{
  from{
      opacity: 0.5 ;
  }
  to{
      opacity: 1;
  }
}
#image2:hover{
  animation-name:image_b;
  animation-duration:2s;
}
@keyframes image_b{
  from{
    opacity: 0.5 ;
}
  to{
    opacity: 1;
  }
}
.whatsnew{
    text-align: center;
    padding-bottom: 30px;
}
@media all and (min-width: 760px) and (max-width: 959px) {
  #wn{
    display: none;
    visibility: hidden;
  }
}
@media all and (min-width: 480px) and (max-width: 759px) {
  #wn{
    display: none;
    visibility: hidden;
  }
}
@media all and (max-width: 479px) {
  #wn{
    display: none;
    visibility: hidden;
  }
}
  
  #add{
    font-size: 1.3rem;
    color: #ed5487;
    padding-top: 80px;
    padding-left: 180px;
    letter-spacing: 1px;
    line-height: 1.2rem;
  }
  @media all and (min-width: 760px) and (max-width: 959px) {
    #add{
      font-size: .8rem;
      color: #ed5487;
      padding-top: 80px;
      padding-left: 180px;
      letter-spacing: 1px;
      line-height: 1.2rem;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 759px) {
    #add{
      font-size: 1rem;
      color: #ed5487;
      padding-top: 80px;
      padding-left: 180px;
      letter-spacing: 1px;
      line-height: 1.2rem;
    }
  }
  
  @media all and (max-width: 479px) {
    #add{
      font-size: 1rem;
      color: #ed5487;
      padding-top: 80px;
      padding-left: 180px;
      letter-spacing: 1px;
      line-height: 1.2rem;
    }
  }
  
  footer.footer {
    height: 450px;
    background: -webkit-gradient(linear, left top, right top, from(#ff7bac), to(#f7d7de));
    background: linear-gradient(90deg, #ff7bac, #f7d7de);
    color: #e8426a;
    margin: 0, auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  @media all and (min-width: 760px) and (max-width: 959px) {
    footer.footer {
      position: static;
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 759px) {
    footer.footer {
      position: static;
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
  }
  
  @media all and (max-width: 479px) {
    footer.footer {
      position: static;
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
  }
  
  footer.footer p {
    text-align: center;
    padding-top: 50px;
  }
  
  p.copyright {
    color: #494646;
    text-align: left;
    font-size: .8rem;
  }
  
  footer img.butterflies {
    position: absolute;
    left: 15%;
    overflow: visible;
    -webkit-transform: translateY(-230%);
            transform: translateY(-230%);
  }
  
  @media all and (min-width: 760px) and (max-width: 959px) {
    footer img.butterflies {
      display: none;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 759px) {
    footer img.butterflies {
      display: none;
    }
  }
  
  @media all and (max-width: 479px) {
    footer img.butterflies {
      display: none;
    }
  }
  
  footer img.butterflies2 {
    overflow: visible;
    position: absolute;
    right: 15%;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  
  @media all and (min-width: 760px) and (max-width: 959px) {
    footer img.butterflies2 {
      display: none;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 759px) {
    footer img.butterflies2 {
      display: none;
    }
  }
  
  @media all and (max-width: 479px) {
    footer img.butterflies2 {
      display: none;
    }
  }
  
  footer div.fbig {
    text-align: right;
    padding-right: 120px;
    position: relative;
  }
  
  @media all and (min-width: 760px) and (max-width: 959px) {
    footer div.fbig {
      position: static;
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: right;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 759px) {
    footer div.fbig {
      position: static;
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: right;
    }
  }
  
  @media all and (max-width: 479px) {
    footer div.fbig {
      position: static;
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: right;
    }
  }