body {
  background-color: #f7d7de;
  margin: 0;
  padding: 0;
  font-family: Microsoft JhengHei UI;
  color: #000000;
}

header.header {
  background-color: #ffffff;
  text-align: center;
  min-width: 1200px;
  font-size: 0px;
  margin: 0, auto;
  height: 215px;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  header.header {
    background-color: #f2b0ba;
    height: 127px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  header.header {
    background-color: #f2b0ba;
    height: 127px;
  }
}

@media all and (max-width: 479px) {
  header.header {
    background-color: #f2b0ba;
    height: 127px;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  .logo {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .logo {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

@media all and (max-width: 479px) {
  .logo {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

@media all and (min-width: 960px) {
  .logo2 {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

@media all and (min-width: 959px) and (max-width: 760px) {
  .logo2 {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  .logo2 {
    width: 150px;
    height: 127px;
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .logo2 {
    width: 150px;
    height: 127px;
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

@media all and (max-width: 479px) {
  .logo2 {
    width: 150px;
    height: 127px;
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

#go_top {
  width: 50px;
  height: 50px;
  background: none;
  position: fixed;
  right: 30px;
  bottom: 20px;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.dropbtn {
  color: #494646;
  padding: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown {
  left: 10%;
  position: relative;
  display: inline-block;
  color: #494646;
  font-size: 16px;
}

@media all and (min-width: 960px) {
  .dropdown {
    display: none;
  }
}

@media all and (min-width: 959px) and (max-width: 760px) {
  .dropdown {
    display: none;
  }
}

.dropdown-content {
  display: none;
  font-size: 16px;
  position: absolute;
  left: -200%;
  top: 30%;
  background-color: #f7d7de;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: #494646;
}

@media all and (min-width: 960px) {
  .dropdown-content {
    display: none;
  }
}

@media all and (min-width: 959px) and (max-width: 760px) {
  .dropdown-content {
    display: none;
  }
}

.dropdown-content a {
  font-size: 16px;
  color: #f4377a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  font-size: 16px;
  background-color: #f09797;
  color: #494646;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f09797;
}

a.link {
  padding: 10px;
}

nav {
  text-align: center;
  border: 0px;
  margin: 0px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  nav {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  nav {
    display: none;
  }
}

@media all and (max-width: 479px) {
  nav {
    display: none;
  }
}

div.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0, auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header div.menu {
  position: absolute;
  right: 20px;
  top: 50px;
}

@media all and (min-width: 960px) {
  header div.menu {
    display: none;
  }
}

@media all and (min-width: 959px) and (max-width: 760px) {
  header div.menu {
    display: none;
  }
}

header div img.member {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

header div img.menu {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

div.banner_text {
  margin: 0, auto;
  position: absolute;
  background-color: #FFFFFF;
  opacity: .3;
  top: 20%;
  left: 35%;
  width: 300px;
  height: 300px;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div.banner_text {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.banner_text {
    display: none;
  }
}

@media all and (max-width: 479px) {
  div.banner_text {
    display: none;
  }
}

div.banner_text p {
  line-height: 1.2rem;
  color: #000000;
  letter-spacing: 3px;
  font-size: 1rem;
  padding-left: 20px;
  padding-top: 20px;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div.banner_text p {
    padding-top: 100px;
    padding-left: 100px;
    line-height: 0px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.banner_text p {
    padding-top: 100px;
    padding-left: 100px;
    line-height: 0px;
  }
}

@media all and (max-width: 479px) {
  div.banner_text p {
    padding-top: 100px;
    padding-left: 100px;
    line-height: 0px;
  }
}

div.banner_img {
  margin: 0, auto;
  text-align: center;
  left: 50%;
  padding-left: 50px;
  padding-top: 15px;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div.banner_img {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.banner_img {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (max-width: 479px) {
  div.banner_img {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .banner {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@media all and (max-width: 479px) {
  .banner {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

div.video_text {
  margin: 0, auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div.video_text {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.video_text {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
}

@media all and (max-width: 479px) {
  div.video_text {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

a {
  text-decoration: none;
}

div div.video {
  margin: 0, auto;
  padding-top: 100px;
  overflow: hidden;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div div.video {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div div.video {
    display: none;
  }
}

@media all and (max-width: 479px) {
  div div.video {
    display: none;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  .video_ch {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .video_ch {
    display: none;
  }
}

@media all and (max-width: 479px) {
  .video_ch {
    display: none;
  }
}

video {
  overflow: hidden;
}

div.decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0, auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div.decor {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.decor {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (max-width: 479px) {
  div.decor {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

div div.imag01 {
  position: relative;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div div.imag01 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div div.imag01 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (max-width: 479px) {
  div div.imag01 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.text1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

div div.text1 p {
  font-size: 1.5rem;
  color: #494646;
  line-height: 2rem;
  padding-left: 30px;
  letter-spacing: 1px;
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div div.text1 p {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div div.text1 p {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

@media all and (max-width: 479px) {
  div div.text1 p {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

.maintext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text_a {
  padding-top: 200px;
  font-size: 1.2rem;
  color: #f4377a;
}

.banner_img {
  margin-top: 100px;
}

div.nav_right {
  width: 250px;
  height: 18px;
  background-color: #ffffff;
  display: inline-block;
  opacity: .5;
  position: absolute;
  top: 600px;
  left: 520px;
  color: #ed4571;
  padding: 10px;
  text-decoration: none;
  z-index: 1;
  border-radius: 30px;
  border: 2px solid #ed7a98;
  margin-top: 100px;
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.nav_right {
    top: 600px;
    left: 150px;
  }
}

@media all and (max-width: 479px) {
  div.nav_right {
    top: 600px;
    left: 150px;
  }
}

.about_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.shape {
  background-color: #ffffff;
  opacity: .3;
  width: 300px;
  height: 500px;
  padding: 150px;
  margin: 50px;
  text-align: center;
  position: relative;
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .shape {
    visibility: hidden;
  }
}

@media all and (max-width: 479px) {
  .shape {
    visibility: hidden;
  }
}

.text_b {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #ff6a9c;
  font-size: 1.3rem;
  padding-left: 380px;
  padding-top: 100px;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .text_b {
    padding-top: 100px;
    padding-left: 80px;
    font-size: 1rem;
    -webkit-transform: none;
            transform: none;
  }
}

@media all and (max-width: 479px) {
  .text_b {
    padding-top: 100px;
    padding-left: 50px;
    font-size: 1rem;
    -webkit-transform: none;
            transform: none;
  }
}

div.text_b p {
  color: #757273;
  font-size: 1rem;
}

.banner_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0, auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.text_shape {
  position: relative;
  color: #4d4c4c;
  text-align: center;
}

div.decor2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0,auto;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div.decor2 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.decor2 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

@media all and (max-width: 479px) {
  div.decor2 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

div div.imag02 {
  padding-top: 80px;
  padding-right: 150px;
  position: relative;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div div.imag02 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div div.imag02 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0px;
  }
}

@media all and (max-width: 479px) {
  div div.imag02 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0px;
  }
}

h1 {
  color: #ff6a9c;
  font-size: 1.5rem;
  padding-top: 100px;
  text-align: center;
}

.text2 {
  padding-top: 20px;
  -webkit-transform: translate(-50px, 100px);
          transform: translate(-50px, 100px);
}

@media all and (min-width: 760px) and (max-width: 959px) {
  .text2 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
    padding: 0px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .text2 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
    padding: 0px;
  }
}

@media all and (max-width: 479px) {
  .text2 {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: none;
            transform: none;
    padding: 0px;
  }
}

div div.text2 p {
  font-size: 1.5rem;
  color: #494646;
  line-height: 2rem;
  text-align: left;
  letter-spacing: 1px;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div div.text2 p {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div div.text2 p {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (max-width: 479px) {
  div div.text2 p {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

div.row {
  padding-top: 250px;
  margin: 0, auto;
  margin-top: 400px;
}

div.item {
  background-image: url(images/course_img.png);
  color: #e8426a;
  font-size: 1.2rem;
  width: 421px;
  height: 421px;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

div.item p {
  text-align: center;
}

div.whatsnew {
  text-align: center;
  padding-top: 65px;
  margin: 0,auto;
  margin-top: 80px;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div.whatsnew {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.whatsnew {
    display: none;
  }
}

@media all and (max-width: 479px) {
  div.whatsnew {
    display: none;
  }
}

.swiper {
  width: 600px;
  height: 400px;
  background: #000;
  -webkit-transform: translateX(8%);
          transform: translateX(8%);
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

div.googlemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  margin: 0, auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div.googlemap {
    display: block;
    text-align: center;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div.googlemap {
    display: block;
  }
}

@media all and (max-width: 479px) {
  div.googlemap {
    display: block;
  }
}

div div.gtext {
  font-size: 1.3rem;
  color: #ed5487;
  padding-top: 80px;
  padding-left: 180px;
  letter-spacing: 1px;
  line-height: 1.2rem;
  position: relative;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div div.gtext {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div div.gtext {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
  }
}

@media all and (max-width: 479px) {
  div div.gtext {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  .gomap {
    width: 70%;
    height: 70%;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .gomap {
    width: 50%;
    height: 50%;
  }
}

@media all and (max-width: 479px) {
  .gomap {
    width: 30%;
    height: 30%;
  }
}

div div.gmap {
  margin-left: 50px;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div div.gmap {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div div.gmap {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0;
  }
}

@media all and (max-width: 479px) {
  div div.gmap {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0;
  }
}

footer.footer {
  height: 450px;
  background: -webkit-gradient(linear, left top, right top, from(#ff7bac), to(#f7d7de));
  background: linear-gradient(90deg, #ff7bac, #f7d7de);
  color: #e8426a;
  margin: 0, auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  footer.footer {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  footer.footer {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media all and (max-width: 479px) {
  footer.footer {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

footer.footer p {
  text-align: center;
  padding-top: 50px;
}

p.copyright {
  color: #494646;
  text-align: left;
  font-size: .8rem;
}

footer img.butterflies {
  position: absolute;
  left: 15%;
  overflow: visible;
  -webkit-transform: translateY(-230%);
          transform: translateY(-230%);
}

@media all and (min-width: 760px) and (max-width: 959px) {
  footer img.butterflies {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  footer img.butterflies {
    display: none;
  }
}

@media all and (max-width: 479px) {
  footer img.butterflies {
    display: none;
  }
}

footer img.butterflies2 {
  overflow: visible;
  position: absolute;
  right: 15%;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

@media all and (min-width: 760px) and (max-width: 959px) {
  footer img.butterflies2 {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  footer img.butterflies2 {
    display: none;
  }
}

@media all and (max-width: 479px) {
  footer img.butterflies2 {
    display: none;
  }
}

footer div.fbig {
  text-align: right;
  padding-right: 120px;
  position: relative;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  footer div.fbig {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  footer div.fbig {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
  }
}

@media all and (max-width: 479px) {
  footer div.fbig {
    position: static;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
  }
}
/*# sourceMappingURL=about_new.css.map */